.self{
  width: 350px;
  height: 350px;
}
.about-content{
  width: 100%;
  padding: 6rem 0;
}

.content{
  max-width: 1040px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.column .left {
  height: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: 1rem;
}
.content .right {
  font-size: 70px;
}
@media screen and (max-width :640px) {
  .content{
    grid-template-columns: 1fr;
  }
}